config : {
  "n_envs": 8,
  "n_stacks": 4,
  "n_timesteps": 10000000, #1e7
  "buffer_size": 100000,
  "learning_rate": !!float 1e-4,
  "batch_size": 32,
  "learning_starts": 100000,
  "target_update_interval": 1000,
  "train_freq": 4,
  "gradient_steps": 1,
  "exploration_fraction": 0.1,
  "exploration_final_eps": 0.01,
  # If True, you need to deactivate handle_timeout_termination
  # in the replay_buffer_kwargs
  "optimize_memory_usage": False,


  "f_ext_name": "None",
  #"f_ext_ft_dim": 16896,

  # filled with other parameters at runtime according to the extractor used
  "f_ext_kwargs": {
    "features_dim": 0, #final dimension of the embedding before passing it to policy net or value function net
  },
}